<!DOCTYPE html>
<html ng-app="BotApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="Content/angular-smilies-embed.min.css" type="text/css">
    <link rel="stylesheet" href="Content/styles.css" type="text/css" />
    <script src="Scripts/jquery-1.11.1.min.js" type="application/javascript"></script>
    <!--<script src="js/annyang.min.js" type="application/javascript"></script>-->
    <script src="Scripts/angular.min.js" type="application/javascript"></script>
    <script src="Scripts/angular-sanitize.js" type="application/javascript"></script>
    <script src="Scripts/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
    <script src="Scripts/angular-smilies.min.js" type="application/javascript"></script>
    <script src="Scripts/markdown-it.min.js" type="application/javascript"></script>
    <script src="Scripts/Bot.js" type="application/javascript"></script>
    <!--<script src="js/annyang-service.js" type="application/javascript"></script>-->
    <script src="Scripts/showdown.min.js"></script>
</head>
<body>
    <div ng-controller="ChatCtrl">
        <div id="page-shadow"></div>
        <div class="botframe">
            <div class="header"><div class="eylogo"></div><div class="subheader">Powered by NITRO</div></div>
            <div class="bottitle">EY RPA Bot<sup class="alpha">Beta</sup><br /></div>
            <div class="botdesc">Liza can show you the 'right direction'<br /></div>
            <div class="renderbot" ng-click="openchatbox('RLltgCMeSiY.cwA.DQ8.IZsGK0NbC77P5IiUUjgpkT9tTwQDK3diaBjDrsWsBcM')">Start the conversation</div>
        </div>
        <div id="homechat-window" style="display:none">
            <div id="chat-window">
                <div class="chat-header">
                    <div class="chatheader-left"><img src="images/liza.png" /></div>
                    <div class="chatheader-center"><div class="center-top">KB</div><div class="center-bottom"><div class="status"></div>Available</div></div>
                    <div class="chat-close" ng-click="chatwindowclose()"><div class="closebtn" title="Close"></div></div>
                </div>
                <div class="chat-content">
                    <div id="chatbox">
                        <div id="chatmessages">
                            <div ng-repeat="m in messages" class="bubble-container">
                                <div class="bubble-message" ng-if="m.msgtype == 'message'">
                                    <div class="avatar avatar-{{m.side}}"><img src="images/liza.png" ng-if="m.side == 'left'" /></div>
                                    <div class="message-box" ng-if="m.side == 'right'">
                                        <div class="bubble bubble-{{m.side}}" ng-bind-html="m.text | smilies">
                                            {{m.text}}
                                        </div>
                                    </div>
                                    <div class="bubble bubble-{{m.side}}" ng-if="m.side == 'left'">
                                        <markdown marktext="{{m.text}}"></markdown>
                                    </div>
                                    <div class="message-time time-{{m.side}}" ng-if="m.options == null || m.options.length == 0 || m.side == 'right'">{{m.time}}</div>
                                </div>
                                <div class="bubble-options">
                                    <div>
                                        <div class="options bubble-right" ng-repeat="p in m.options" ng-click="sendMessage(p)">{{p}}</div>
                                    </div>
                                    <div class="message-time time-{{m.side}}" ng-if="m.options.length > 0">{{m.time}}</div>
                                </div>
                                <div class="bubble-options">
                                    <div>
                                        <div class="options bubble-right" ng-repeat="c in m.herocards" ng-click="sendMessageOption(c.title,c.value)">{{c.title}}</div>
                                    </div>
                                    <div class="message-time time-{{m.side}}" ng-if="c.herocard.length > 0">{{m.time}}</div>
                                </div>

                                <div class="bubble-message" ng-if="m.msgtype == 'image'">
                                    <div class="avatar avatar-{{m.side}}"><img src="images/liza.png" ng-if="m.side == 'left'" /></div>
                                    <div class="message-box" ng-if="m.side == 'right'">
                                        <div class="bubble bubble-{{m.side}}"><img ng-src="{{m.imageurl}}" class="image_in_msg"></div>
                                    </div>
                                    <div class="bubble bubble-{{m.side}}" ng-if="m.side == 'left'"><img ng-src="{{m.imageurl}}" class="image_in_msg"></div>
                                    <div class="message-time time-{{m.side}}" ng-if="m.options.length == 0 || m.side == 'right'">{{m.time}}</div>
                                </div>
                            </div>
                            <div class="bubble-conta">
                                <div class="bubble-message message-loading" style="display:none">
                                    <div class="avatar avatar-left"><img src="images/liza.png" /></div>
                                    <img src="images/loading.gif" class="loadingimg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-chat">
                        <div class="input-group">

                            <span class="input-group-btn attach">
                                <input type="file" id="imageUploadId" class="image_upload_input" ng-model-instant onchange="angular.element(this).scope().setSelectedFile(event)" multiple>
                                <label for="imageUploadId" class="image-upload-div" id="image-upload-label" style="pointer-events:none;">
                                    <img src="images/attach.png" class="sendicon">
                                </label>

                            </span>
                            <form ng-submit="sendMessage(messageText)">
                                <input type="text" class="text-control" ng-model="messageText" placeholder="Type your message here.." autocomplete="off" />
                            </form>
                            <span class="input-group-btn sendicon-box">
                                <img src="images/send.png" class="sendicon" ng-click="sendMessage(messageText)" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
